fieldset.diary-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  min-height: 50vh;

  position: relative;
}

fieldset.diary-entry > textarea {
  flex: 1;
  border: none;
}

fieldset.diary-entry > div.actions {
  display: flex;
  gap: 0.5em;
    justify-content: end;
}
