body {
  margin: 0;
}

div#root {
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow: hidden;
  position: fixed;
  inset: 0;
}

div.auth-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}

div.auth-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset: 0;
  gap: 1em;
}
